* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9f9;
  overflow-x: hidden;
}

.globalContainer, .header-wrapper-container .header-wrapper, .welcome-section {
  max-width: 1199px;
  width: 80%;
  margin: 0 auto;
}

.header-wrapper-container {
  height: 12.5em;
  position: relative;
  z-index: 2;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.header-wrapper-container .header-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0;
  place-content: flex-end;
}

.header-wrapper-container .header-wrapper .logo-wrapper {
  max-width: 60px;
}

.header-wrapper-container .header-wrapper .logo-wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-wrapper-container .header-wrapper .header-menu-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

.header-wrapper-container .header-wrapper .header-menu-container .upper-section-menu {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.header-wrapper-container .header-wrapper .header-menu-container .upper-section-menu .upper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper-container .header-wrapper .header-menu-container .upper-section-menu .upper-content .menu-content-link {
  padding: 1em 2em;
}

.header-wrapper-container .header-wrapper .header-menu-container .upper-section-menu .upper-content .menu-content-link .menu-link {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #afafaf;
}

.header-wrapper-container .header-wrapper .header-menu-container .upper-section-menu .upper-content .menu-content-link .menu-link:hover {
  color: #ffcd05;
}

.header-wrapper-container .header-wrapper .header-menu-container .upper-section-menu .upper-content .search-box-container {
  width: 20%;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.75);
}

.header-wrapper-container .header-wrapper .header-menu-container .upper-section-menu .upper-content .search-box-container .search-box {
  padding: 1em 1em;
  width: 100%;
  background: #f9f9f9;
  color: #afafaf;
  font-size: 1.2em;
  border: none;
}

.header-wrapper-container .header-wrapper .header-menu-container .upper-section-menu .upper-content .search-box-container .icon-container {
  position: absolute;
  color: #afafaf;
  background: #f9f9f9;
  padding: .8em;
  top: 3.9em;
  right: 36.1em;
}

.header-wrapper-container .header-wrapper .header-menu-container .upper-section-menu .upper-content .search-box-container .icon-container i {
  font-size: 1.6em;
}

.header-wrapper-container .header-wrapper .header-menu-container .upper-section-menu .upper-content .search-box-container .icon-container:hover {
  color: #ffcd05;
}

.header-wrapper-container .header-wrapper .header-menu-container .lower-section-menu {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.header-wrapper-container .header-wrapper .header-menu-container .lower-section-menu .lower-content .menu-content-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  margin-left: 18vw;
}

.header-wrapper-container .header-wrapper .header-menu-container .lower-section-menu .lower-content .menu-content-list .menu-content-items {
  -ms-grid-column-align: center;
      justify-self: center;
  place-self: flex-end;
}

.header-wrapper-container .header-wrapper .header-menu-container .lower-section-menu .lower-content .menu-content-list .menu-content-items .menu-contnet-link {
  color: #afafaf;
  text-transform: uppercase;
  font-size: 1.3em;
}

.header-wrapper-container .header-wrapper .header-menu-container .lower-section-menu .lower-content .menu-content-list .menu-content-items .menu-contnet-link:hover {
  color: #ffcd05;
}

.header-wrapper-container.shift {
  background: #fff;
}

.banner-section #banner-carousel {
  height: calc(100vh);
}

.banner-section #banner-carousel .item .banner-image {
  height: calc(100vh);
  position: relative;
}

.banner-section #banner-carousel .item .banner-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-section #banner-carousel .item .banner-image::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
}

.banner-section #banner-carousel .item .banner-image .banner-text-wrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-transform: uppercase;
}

.banner-section #banner-carousel .item .banner-image .banner-text-wrapper .baner-text {
  font-size: 8em;
  color: #ffcd05;
}

.banner-section #banner-carousel .owl-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  bottom: 3%;
  left: 0;
  outline: none;
}

.banner-section #banner-carousel .owl-dots .owl-dot {
  outline: none;
  border: none;
}

.banner-section #banner-carousel .owl-dots .owl-dot span {
  width: 38px;
  height: 3px;
}

.banner-section #banner-carousel .owl-dots .owl-dot span:hover {
  background-color: #ffcd05;
}

.banner-section #banner-carousel .owl-dots .owl-dot.active span {
  background-color: #ffcd05;
}

.banner-section #banner-carousel .owl-nav {
  position: absolute;
  width: 100%;
  left: 0;
  top: 38%;
}

.banner-section #banner-carousel .owl-nav button {
  outline: none;
  border: none;
}

.banner-section #banner-carousel .owl-nav button span {
  font-size: 14em;
  color: #ffcd05;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #ffcd05;
}

.banner-section #banner-carousel .owl-nav button.owl-prev, .banner-section #banner-carousel .owl-nav button.owl-next {
  position: absolute;
}

.banner-section #banner-carousel .owl-nav button.owl-prev {
  left: 3%;
}

.banner-section #banner-carousel .owl-nav button.owl-next {
  right: 3%;
}

.banner-section #banner-carousel .owl-nav button:hover {
  background: transparent;
  -webkit-text-stroke-color: #ffcd05;
}

.banner-section .page-scroll-btn-container {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20%;
  width: 100%;
  z-index: 5;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.banner-section .page-scroll-btn-container .the-actual-btn .scroll-down {
  color: #fff;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.banner-section .page-scroll-btn-container .the-actual-btn .scroll-down i {
  font-size: 4rem;
}

.banner-section .page-scroll-btn-container .the-actual-btn .scroll-down:hover {
  color: #ffcd05;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.welcome-section {
  height: 80vh;
}

.welcome-section .welcome-section-container {
  padding: 4em 0;
}

.welcome-section .welcome-section-container .section-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.welcome-section .welcome-section-container .section-content .section-first-content .heading-wrapper {
  font-size: 3.6em;
  text-transform: uppercase;
  padding-bottom: .6em;
  color: #ffcd05;
}

.welcome-section .welcome-section-container .section-content .section-first-content .main-content-wrapper p {
  font-size: 1.6em;
  word-spacing: 2px;
  line-height: 25px;
}

.welcome-section .welcome-section-container .section-content .section-first-content .main-content-wrapper .content-link {
  color: #ffcd05;
  font-size: 1.6em;
}

.welcome-section .welcome-section-container .section-content .section-second-content {
  justify-self: flex-end;
}

.welcome-section .welcome-section-container .section-content .section-second-content .heading-wrapper {
  background: #ffcd05;
}
/*# sourceMappingURL=zabcon.css.map */